@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer

<style>
    .nav-header {
        border: 1px solid #4b545c;
        background-color: #4b545c !important;
        text-transform: uppercase;
    }

    .nav-header-last{
        border-bottom: 1px solid #4b545c;
    }
</style>
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-header">@ViewLocalizer["Home"]</li>
        <li class="nav-item">
            <a href="/Dashboard" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>@ViewLocalizer["Dashboard"]</p>
            </a>
        </li>
        <li class="nav-header">@ViewLocalizer["INVENTORY"]</li>
        <li class="nav-item">
            <a href="/Transaction" class="nav-link">
                <i class="nav-icon fas fa-rupee-sign"></i>
                <p>@ViewLocalizer["Transaction"]</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Expense/Index" class="nav-link">
                <i class="nav-icon fas fa-comments-dollar"></i>
                <p>@ViewLocalizer["Expenses"]</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Report/Index" class="nav-link">
                <i class="nav-icon fas fa-building"></i>
                <p>@ViewLocalizer["Stock"]</p>
            </a>
        </li>
        
        <li class="nav-item">
            <a href="/Report/TransactionDetailReport" class="nav-link">
                <i class="nav-icon fas fa-list-alt"></i>
                <p>@ViewLocalizer["Transaction Log"]</p>
            </a>
        </li>
        <li class="nav-header">@ViewLocalizer["product catalog"]</li>

        <li class="nav-item">
            <a href="/Product" class="nav-link">
                <i class="nav-icon fas fa-barcode"></i>
                <p>
                    @ViewLocalizer["Product"]
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Category" class="nav-link">
                <i class="nav-icon fas fa-folder"></i>
                <p>
                    @ViewLocalizer["Category"]
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Tax" class="nav-link">
                <i class="nav-icon fas fa-percent"></i>
                <p>
                    @ViewLocalizer["Tax"]
                </p>
            </a>
        </li>
       <li class="nav-item">
            <a href="/UnitOfMeasure" class="nav-link">
                <i class="nav-icon fas fa-box-open"></i>
                <p>
                    @ViewLocalizer["measure unit"]
                </p>
            </a>
        </li>
        <li class="nav-header">@ViewLocalizer["SETTINGS"]</li>
        <li class="nav-item">
            <a href="/User" class="nav-link">
                <i class="nav-icon fas fa-user"></i>
                <p>
                    @ViewLocalizer["User"]
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/ExpenseCategory" class="nav-link">
                <i class="nav-icon fas fa-money-check-alt"></i>
                <p>
                    @ViewLocalizer["Expense Type"]
                    
                </p>
            </a>
        </li>
       <li class="nav-item">
            <a href="/Store" class="nav-link">
                <i class="nav-icon fas fa-building"></i>
                <p>
                    @ViewLocalizer["Store"]
                </p>
            </a>
        </li>
@*
        <li class="nav-item">
            <a href="/Customer/Create" class="nav-link">
                <i class="nav-icon fas fa-building"></i>
                <p>
                    Language
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Registration/Register" class="nav-link">
                <i class="nav-icon fas fa-building"></i>
                <p>
                    Language2
                </p>
            </a>
        </li>*@
        
                <li class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="color:white;">
                    @await Html.PartialAsync("_SetLanguagePartial")
                </li>
            
        <li class="nav-header-last"></li>
        <li class="nav-item">
            <a href="/Auth/Logout" class="nav-link">
                <i class="fas fa-sign-out-alt"></i>
                <p>
                    @ViewLocalizer["Logout"]
                    
                </p>
            </a>
        </li>

    </ul>
</nav>