@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer

@model Aby.StockManager.Model.ViewModel.Category.SearchCategoryViewModel
@{
    ViewData["Title"] = @ViewLocalizer["CategoryName"] + " " + @ViewLocalizer["List"];
}

<section class="content pt-2">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-search"></i> @ViewLocalizer["Search"] @ViewLocalizer["CategoryName"]</h3>
                    </div>
                    <div class="card-body dataTable-search-form">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @ViewLocalizer["CategoryName"]
                                    <input asp-for="CategoryName" type="text" class="form-control-sm form-control enter-keyup" placeholder="@ViewLocalizer["Enter"] @ViewLocalizer["CategoryName"]">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button id="btnClear" type="button" class="btn btn-secondary btn-sm"><i class="fas fa-sync-alt"></i> @ViewLocalizer["Clear"]</button>
                                <button id="btnFilter" type="button" class="btn btn-primary btn-sm"><i class="fas fa-search"></i> @ViewLocalizer["Search"]</button>
                                <a class="btn btn-success btn-sm" href="/Category/Create"><i class="fas fa-plus"></i> @ViewLocalizer["CategoryName"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-list"></i> @ViewLocalizer["CategoryName"] @ViewLocalizer["List"]</h3>
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>@ViewLocalizer["CategoryName"]</th>
                                    <th style="width:15%">@ViewLocalizer["Action"]</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>@ViewLocalizer["CategoryName"]</th>
                                    <th style="width:15%">@ViewLocalizer["Action"]</th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section style{
    <partial name="~/Views/Shared/_DataTableStylePartial.cshtml" />
}
@section script{
    <partial name="~/Views/Shared/_DataTableScriptPartial.cshtml" />
    <script src="~/pages/category/category-list.js"></script>
}