@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
@model Aby.StockManager.Model.ViewModel.User.EditUserViewModel
@{
    ViewData["Title"] = @ViewLocalizer["Edit"] + " " + @ViewLocalizer["User"];
}
@section script{
    <partial name="~/Views/Shared/_FormScriptsPartial.cshtml" />
    <script src="~/pages/user/user-image-delete.js"></script>
}
<section class="content pt-2">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-md-12">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-pen"></i> @ViewLocalizer["Edit"]  @ViewLocalizer["User"]</h3>
                    </div>
                    <form asp-action="Edit" asp-antiforgery="true" id="frmCreate" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group">
                                @ViewLocalizer["Email"]
                                <input asp-for="Email" type="text" class="form-control" placeholder="@ViewLocalizer["Enter"] @ViewLocalizer["Email"]">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                @ViewLocalizer["Password"]
                                <input asp-for="Password" type="password" class="form-control" placeholder="@ViewLocalizer["Enter"] @ViewLocalizer["Password"]">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                @ViewLocalizer["Name"]
                                <input asp-for="Name" type="text" class="form-control" placeholder="@ViewLocalizer["Enter"] @ViewLocalizer["Name"]">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                @ViewLocalizer["Surname"]
                                <input asp-for="Surname" type="text" class="form-control" placeholder="@ViewLocalizer["Enter"] @ViewLocalizer["Surname"]">
                                <span asp-validation-for="Surname" class="text-danger"></span>
                            </div>

                            @if (!string.IsNullOrEmpty(Model.Image))
                            {
                                <div class="form-group" id="delete-image-main">
                                    <label asp-for="ImageFile"></label>
                                    <img height="150" src="/user/@Model.Image" />
                                    <button id="btnDeleteImage" data-id="@Model.Id" type="button" class="btn btn-danger">Delete Image</button>
                                </div>
                            }
                            @*<div class="form-group">
                                <label asp-for="ImageFile"></label>
                                <input asp-for="ImageFile" type="file" accept=".png, .jpg, .jpeg, .gif" class="form-control">
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                                <input type="hidden" asp-for="Image" />
                            </div>*@
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">@ViewLocalizer["Upload"]</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" asp-for="ImageFile" accept=".png, .jpg, .jpeg, .gif" placeholder="@ViewLocalizer["ImageFile"]" aria-describedby="inputGroupFileAddon01" lang="hi">
                                    <label class="custom-file-label" for="inputGroupFile01">@ViewLocalizer["Choose file"]</label>
                                    <input type="hidden" asp-for="Image" />
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <a class="btn btn-outline-secondary" href="/User"><i class="fas fa-arrow-left"></i> @ViewLocalizer["Back"]</a>
                            <button id="btnSave" type="submit" class="btn btn-warning"><i class="fas fa-pen"></i> @ViewLocalizer["Edit"] </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
